{% extends 'ordinal/header.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <div class="bg-image">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center align-items-center" style="height: 100vh;">
                <div class="col-12 text-center">
                    <img src="{% static 'img/CompLogo.webp' %}" width="100" alt="logo">
                    <h1 class="text-w">Inventario Compañía Bomberos N°2</h1>
                    <p class="text-w">Sistema de Inventario de los carros de bombero R2 y B2</p>
                    <div>
                        <a href="{% url 'login' %}" class="btn btn-primary mx-2 transparent-button">Inicia sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}