.bg-image {
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-position: center;
}

.text-w {
    color: white;
}

.transparent-button {
    background-color: transparent;
    border: 2px solid #fbc900;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}