{% extends 'ordinal/header.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventario.css' %}">
    <div class="bg-image">
        <div class="container">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 form-container">
                        <form action="" id="item-form" autocomplete="off">
                            <h1 class="display-5 mb-5"><strong>Ingresar Item</strong></h1>
                            <div class="mb-3">
                                <label for="nameItem">Categoría</label>
                                <input class="form-control" id="nameItem" type="text" placeholder="Introduzca el nombre del item">
                            </div>
                            <div class="mb-3">
                                <label for="typeItem">Sub categoría</label>
                                <input class="form-control" id="typeItem" type="text" placeholder="Ingrese el tipo de item">
                            </div>
                            <div class="mb-3">
                                <label for="quantity">Cantidad:</label>
                                <input class="form-control" id="quantity" type="number" placeholder="Ingrese la cantidad">
                            </div>
                            <div class="mb-3">
                                <label for="unity">Unidad:</label>
                                <input class="form-control" id="unity" type="text" placeholder="Ingrese la unidad">
                            </div>
                            <div class="mb-3">
                                <label for "motive">Motivo:</label>
                                <input class="form-control" id="motive" type="text" placeholder="Introduzca el motivo">
                            </div>
                            <div>
                                <input class="btn btn-success add-btn" type="submit" value="Agregar">
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 item-list-container mt-5">
                        <table class="table table-striped table-light">
                            <thead>
                                <tr>
                                    <th>Nombre del item</th>
                                    <th>Tipo de item</th>
                                    <th>Cantidad</th>
                                    <th>Unidad</th>
                                    <th>Motivo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="item-list">
                                <tr>
                                    <td>Escalera</td>
                                    <td>Rescate</td>
                                    <td>2</td>
                                    <td>R2</td>
                                    <td>Rescate de un gato</td>
                                    <td>
                                        <a href="#" class="btn btn-warning btn-sm edit">Editar</a>
                                        <a href="#" class="btn btn-danger btn-sm delete">Borrar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}